# importing libraries

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://bitbucket.org/habedi/datasets/raw/b6769c4664e7ff68b001e2f43bc517888cbe3642/spark/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!rm -rf spark-3.0.2-bin-hadoop2.7.tgz*
!pip -q install findspark pyspark graphframes
!wget https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar -P /content/spark-3.0.2-bin-hadoop2.7/jars/
!cp /content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar /content/spark-3.0.2-bin-hadoop2.7/graphframes-0.8.2-spark3.0-s_2.12.zip

import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = os.environ["SPARK_HOME"]

os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

import findspark
findspark.init()

!export PYSPARK_SUBMIT_ARGS="--master local[*] pyspark-shell"
!export PYSPARK_DRIVER_PYTHON=jupyter
!export PYSPARK_DRIVER_PYTHON_OPTS=notebook


from pyspark.sql import SparkSession
from graphframes import *

spark = SparkSession.builder.master("local[*]").appName("GraphFrames").getOrCreate()


os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages graphframes:graphframes:0.8.1-spark3.0-s_2.12 pyspark-shell"


from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 16.4 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done
--2023-06-23 20:20:59--  https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar
Resolving repos.spark-packages.org (repos.spark-packages.org)... 18.154.132.96, 18.154.132.50, 18.154.132.57, ...
Connecting to repos.spark-packages.org (repos.spark-packages.org)|18.154.132.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247882 (242K) [binary/octet-stream]
Saving to: ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’

graphframes-0.8.2-s 100%[===================>] 242.07K  --.-KB/s    in 0.05s

2023-06-23 20:21:00 (4.83 MB/s) - ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’ saved [247882/247882]

In [ ]:
import pyspark

In [ ]:
pip install h2o

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o
  Downloading h2o-3.40.0.4.tar.gz (177.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.6/177.6 MB 7.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from h2o) (2.27.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from h2o) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from h2o) (0.18.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (3.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.40.0.4-py2.py3-none-any.whl size=177697886 sha256=e367f423ce76d2259de2c924cae5fa4dcd5679cd37d7892f948586a908a2ec44
  Stored in directory: /root/.cache/pip/wheels/43/f2/b0/5bb4d702a0467e82d77c45088db3eef25114c26b0eec8e7f6a
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.40.0.4

In [ ]:
pip install h2o_pysparkling_3.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting h2o_pysparkling_3.0
  Downloading h2o_pysparkling_3.0-3.40.0.4-1.tar.gz (161.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 161.7/161.7 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from h2o_pysparkling_3.0) (2.27.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from h2o_pysparkling_3.0) (0.8.10)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from h2o_pysparkling_3.0) (0.18.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->h2o_pysparkling_3.0) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->h2o_pysparkling_3.0) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->h2o_pysparkling_3.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->h2o_pysparkling_3.0) (3.4)
Building wheels for collected packages: h2o_pysparkling_3.0
  Building wheel for h2o_pysparkling_3.0 (setup.py) ... done
  Created wheel for h2o_pysparkling_3.0: filename=h2o_pysparkling_3.0-3.40.0.4.post1-py2.py3-none-any.whl size=161993186 sha256=acad92e1411289ec6c1b3201b7f74f3fbb2c3a0629565895190653691ca44e4d
  Stored in directory: /root/.cache/pip/wheels/63/92/8e/bf03db7ffd338c0b2fea560dc22d736329a7a3f9281e4a3dc0
Successfully built h2o_pysparkling_3.0
Installing collected packages: h2o_pysparkling_3.0
Successfully installed h2o_pysparkling_3.0-3.40.0.4.post1

In [ ]:
import h2o
from pysparkling import H2OContext
from pyspark.sql.functions import percent_rank
from pyspark.sql import Window
from pyspark.sql.functions import to_date
from pyspark import keyword_only
from pyspark.ml import Pipeline,Estimator,Transformer
from pyspark.sql.functions import hour, dayofweek, month
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.ml.evaluation import RegressionEvaluator
import pandas as pd
from sklearn.metrics import mean_squared_error
import numpy as np
import matplotlib.pyplot as plt
import warnings
from pysparkling.ml import H2OAutoML
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
hc = H2OContext.getOrCreate()

In [ ]:
# importing the module containing all functions
import importlib
import utils1 as utl
importlib.reload(utl)

## Estimators,Transformers and Pipeline

In [ ]:
# Estimator interface
class Estimator_in(Estimator):
    def _fit(df,y = None):
        pass

In [ ]:
#transformer interface
class Transformer_in(Transformer):
    def _transform(df,y = None):
        pass

### missing values

In [ ]:

class MissingValuesEstimator(Estimator_in):
    @keyword_only
    def __init__(self, date_col=None):
        self._date_col = date_col
    def _fit(self, df,y = None):
        return MissingValuesTransformer(date_col = self._date_col)

In [ ]:
class MissingValuesTransformer(Transformer_in):

    @keyword_only
    def __init__(self, date_col=None):
        self._date_col = date_col

    def _transform(self, df,y = None):
        df_pandas = df.toPandas()
        df_pandas.set_index(self._date_col, inplace=True)
        df = utl.missing_handler(df_pandas)
        df.reset_index(inplace=True)
        return spark.createDataFrame(df)

### Outliers

In [ ]:

class OutlierHandlerEstimator(Estimator_in):

    def _fit(self, df,y = None):
        cappers = {}
        df_pandas = df.toPandas()
        cappers = utl.outlier_handler(df_pandas,cappers)
        return OutlierHandlerTransformer(cappers)

In [ ]:
class OutlierHandlerTransformer(Transformer_in):

    def __init__(self, cappers):
        self._cappers = cappers

    def _transform(self, df,y = None):
        X = df.toPandas()
        df = utl.outlier_capper(X,self._cappers)
        return spark.createDataFrame(df)

### OneHotEncoding

In [ ]:

class OneHotEncnoderEstimator(Estimator_in):

    def _fit(self,df,y = None):
        df_pandas = df.toPandas()
        categorical_cols, encoder = utl.oheesimate(df_pandas)
        return OneHotEncnoderTransformer(categorical_cols, encoder)

In [ ]:
class OneHotEncnoderTransformer(Transformer_in):

    def __init__(self, categorical_cols, encoder):
        self._categorical_cols = categorical_cols
        self._encoder = encoder

    def _transform(self,df,y= None):
        df_pandas = df.toPandas()
        df = utl.oheeapply(df_pandas,self._categorical_cols,self._encoder)
        return spark.createDataFrame(df)

### Stationarity

In [ ]:
class StationarityCheckEstimator(Estimator):
    def __init__(self,target = None):
        self._target=target

    def _fit(self, dataset):
        data = dataset.toPandas()
        columns,diff=utl.get_diff(data,self._target)
        return StationarityCheckTransformer(diff,columns)

In [ ]:
class StationarityCheckTransformer(Transformer):
    def __init__(self,diff,columns):
        self.diff=diff
        self.columns=columns

    def _transform(self,dataset):
        data = dataset.toPandas()
        data=utl.apply_diff(data,self.diff,self.columns)
        return spark.createDataFrame(data)

### Lagged features

In [ ]:
class laggerEstimator(Estimator_in):
    @keyword_only
    def __init__(self, max_lag= 30):
        self._max_lag = max_lag

    def _fit(self,df,y = None):
        sig_fet = {}
        df_pandas = df.toPandas()

        sig_fet = utl.lagger(df_pandas,self._max_lag,sig_fet)
        return laggerTransformer(sig_fet)

In [ ]:
class laggerTransformer(Transformer_in):

    def __init__(self, sig_fet):
        self._sig_fet = sig_fet


    def _transform(self,df,y= None):
        df_pandas = df.toPandas()
        df = utl.lagger_apply(df_pandas,self._sig_fet)
        return spark.createDataFrame(df)

### Seasonality

In [ ]:
class seasonalityEstimator(Estimator_in):
    @keyword_only
    def __init__(self,period = None):
        self._period = period

    def _fit(self, df, y=None):
        return seasonalityTransformer(period= self._period)

In [ ]:
class seasonalityTransformer(Transformer_in):

    def __init__(self,period = None):
        self._period = period


    def _transform(self,df,y= None):
        df_pandas = df.toPandas()
        df = utl.seasonality_transform(df_pandas,self._period)

        return spark.createDataFrame(df)

### Time features

In [ ]:
class time_estimator(Estimator_in):

    @keyword_only
    def __init__(self, date_col=None):
        self._date_col = date_col

    def _fit(self,df,y = None):
        return time_transformer(date_col=self._date_col)

In [ ]:
class time_transformer(Transformer_in):

    @keyword_only
    def __init__(self, date_col=None):
        self._date_col = date_col

    def _transform(self,df,y = None):
        df = df.withColumn("hour_of_day", hour(df[self._date_col]))
        df = df.withColumn("day_of_week", dayofweek(df[self._date_col]))
        df = df.withColumn("month_of_year", month(df[self._date_col]))
        return df

# rolling mean

In [ ]:
class rolling_meanEstimator(Estimator_in):
    def __init__(self, target = None,window_size = None):
        self._target = target
        self._window_size = window_size
    def _fit(self,df,y= None):
        return rolling_meanTransformer(self._target,self._window_size)

In [ ]:
class rolling_meanTransformer(Transformer_in):
    def __init__(self, target = None,window_size = None):
        self._target = target
        self._window_size = window_size
    def _transform(self,df,y= None):
        X = df.toPandas()
        rolling_avg = X[self._target].rolling(window=self._window_size).mean()
        X['rolling_avg'] = rolling_avg.shift(1)

        return spark.createDataFrame(X)

### removing nans

In [ ]:
class dropnansEstimator(Estimator_in):
    def _fit(self,df,y= None):
        print(df)
        return dropnansTransformer()

In [ ]:
class dropnansTransformer(Transformer_in):

    def _transform(self,df,y= None):
        df = df.dropna()
        return df

### removing constant features

In [ ]:
class ConstantFeatureEstimator(Estimator_in):
    def _fit(self, df,y = None):
        constant_features = []
        input_cols = df.columns
        constant_features = utl.constantIdentifier(df,input_cols,constant_features)

        return ConstantFeatureTransformer(constant_features)

In [ ]:
class ConstantFeatureTransformer(Transformer_in):

    def __init__(self, constant_features=None):
        self._constant_features = constant_features

    def _transform(self,df ,y = None):

        return df.drop(*self._constant_features)

# Sparkling water

In [ ]:
class SparklingwaterEstimator(Estimator_in):

    @keyword_only
    def __init__(self, target=None,date_col = None,metric = None):
        self._target = target
        self._date_col = date_col
        self._metric = metric
        self._automl = None

    def _fit(self, df,y = None):
        self._automl = H2OAutoML(maxRuntimeSecs=180,labelCol=self._target, ignoredCols=[self._target,self._date_col,'ordered'])
        self._automl.setSortMetric(self._metric)
        model = self._automl.fit(df)

        return SparklingwaterTransformer(model,self._date_col,self._target)
    def getleaderboard(self):
      leaderboard = self._automl.getLeaderboard()
      return leaderboard

In [ ]:
class SparklingwaterTransformer(Transformer_in):

    def __init__(self, model=None, date_col = None,target = None):
        self._target = target
        self._date_col = date_col
        self._model = model

    def _transform(self,df ,y = None):
        df_2 = self._model.transform(df)
        return df_2

# reading the data and applying the pipeline

In [ ]:
path = '/content/drive/MyDrive/Auto-Ml-Project/Datasets/Time Series Data - ITI/Univariate/RiverFlowDaily.csv'
timestamp = 'Timestamp'
target_col = 'RiverFlow'
period = 30

In [ ]:
def apply_pipeline(path,timestamp,target_col,period):
  # reading data
  df_pre = spark.read.csv(path,header=True,inferSchema=True)
  df_pre = df_pre.withColumn(timestamp, to_date(timestamp))
  df_pandas = df_pre.toPandas()
  df_pandas = df_pandas.set_index(timestamp)
  df_pandas.index = pd.to_datetime(df_pandas.index)

  seasonality_result = utl.detect_seasonality(df_pandas, target_col)
  df = utl.preprocess_seasonality(df_pandas,target_col,seasonality_result)
  df = spark.createDataFrame(df)
  df = df.withColumn("ordered", monotonically_increasing_id()+1)
  #splitting the data into train and test
  df_copy = df.withColumn("rank", percent_rank().over(Window.partitionBy().orderBy(timestamp)))
  train_df = df_copy.where("rank <= .8").drop("rank")
  test_df = df_copy.where("rank > .8").drop("rank")

  # instances from Estimators classes
  missing = MissingValuesEstimator(date_col = timestamp)
  outlier = OutlierHandlerEstimator()
  timed = time_estimator(date_col =timestamp)
  constremove = ConstantFeatureEstimator()
  ohe = OneHotEncnoderEstimator()
  rolling = rolling_meanEstimator(target = target_col,window_size = 5)
  stationarity = StationarityCheckEstimator(target = target_col)
  lagger = laggerEstimator(max_lag= 25)
  seasonality = seasonalityEstimator(period = period)
  nans_removal = dropnansEstimator()



  # constructing the pipeline
  pipe_line = Pipeline(stages= [missing,outlier,ohe,rolling,stationarity,seasonality,nans_removal,lagger,timed,constremove,nans_removal])


  fitted = pipe_line.fit(train_df)
  # transform the train and test
  trans_train = fitted.transform(train_df)
  trans_test = fitted.transform(test_df)

  sparkling = SparklingwaterEstimator(target=target_col,date_col = timestamp,metric = 'RMSE')
  pipe_line_2 = Pipeline(stages= [sparkling])
  fitted2 = pipe_line_2.fit(trans_train)
  leaderboard = sparkling.getleaderboard()
  leaderboard = leaderboard.toPandas()[['model_id','rmse','mse']]
  df_final = fitted2.transform(trans_test)

  df_train_pandas = trans_train.toPandas()
  df_test_pandas= df_final.toPandas()

  if seasonality_result == 'multiplicative':
      df_train_pandas[target_col] = np.exp(df_train_pandas[target_col])

  df_test_pandas = utl.check_log(df_test_pandas, target_col, seasonality_result)
  train_df_pandas = df_train_pandas[[timestamp,target_col]]
  test_df_pandas = df_test_pandas[[timestamp,target_col,'prediction']]

  rmse = mean_squared_error(test_df_pandas[target_col],test_df_pandas['prediction'],squared = False)

  return train_df_pandas,test_df_pandas,leaderboard,seasonality_result,rmse

In [ ]:
train_df_pandas,test_df_pandas,leaderboard,seasonality_result,rmse =apply_pipeline(path,timestamp,target_col)

In [ ]:
columns = ['data_set_name','Period','additive/multiplicative','RMSE']
info = pd.DataFrame(columns = columns)

In [ ]:
dataset_name = 'RiverFlowDaily'
train_df_pandas.to_csv(f'/content/datasets/{dataset_name}_train')
test_df_pandas.to_csv(f'/content/datasets/{dataset_name}_test')
leaderboard.to_csv(f'/content/datasets/{dataset_name}_leaderboard')

In [ ]:
row_data = {
    'data_set_name': dataset_name,
    'Period': period,
    'additive/multiplicative': seasonality_result,
    'RMSE': rmse
}
info = info.append(row_data, ignore_index=True)

In [ ]:
info

    data_set_name Period additive/multiplicative      RMSE
0  RiverFlowDaily     30          multiplicative  0.065827

# second data

In [ ]:
path = '/content/drive/MyDrive/Auto-Ml-Project/Datasets/Time Series Data - ITI/Univariate/USBirthsDaily.csv'

In [ ]:
timestamp = 'Timestamp'
target_col = 'USBirths'
dataset_name = 'USBirthsDaily'
period = 30

In [ ]:
train_df_pandas,test_df_pandas,leaderboard,seasonality_result,rmse =apply_pipeline(path,timestamp,target_col)

In [ ]:
train_df_pandas.to_csv(f'/content/datasets/{dataset_name}_train')
test_df_pandas.to_csv(f'/content/datasets/{dataset_name}_test')
leaderboard.to_csv(f'/content/datasets/{dataset_name}_leaderboard')

In [ ]:
row_data = {
    'data_set_name': dataset_name,
    'Period': period,
    'additive/multiplicative': seasonality_result,
    'RMSE': rmse
}
info = info.append(row_data, ignore_index=True)

In [ ]:
info

    data_set_name Period additive/multiplicative        RMSE
0  RiverFlowDaily     30          multiplicative    0.065827
1   USBirthsDaily     30          multiplicative  328.441046

# third

In [ ]:
path = '/content/drive/MyDrive/Auto-Ml-Project/Datasets/Time Series Data - ITI/Univariate/daily-female-births.csv'

In [ ]:
dff = pd.read_csv(path)
dff

In [ ]:
timestamp = 'Timestamp'
target_col = 'Births'
dataset_name = 'daily-female-births'
period =30

In [ ]:
train_df_pandas,test_df_pandas,leaderboard,seasonality_result,rmse =apply_pipeline(path,timestamp,target_col)

In [ ]:
train_df_pandas.to_csv(f'/content/datasets/{dataset_name}_train')
test_df_pandas.to_csv(f'/content/datasets/{dataset_name}_test')
leaderboard.to_csv(f'/content/datasets/{dataset_name}_leaderboard')

In [ ]:
row_data = {
    'data_set_name': dataset_name,
    'Period': period,
    'additive/multiplicative': seasonality_result,
    'RMSE': rmse
}
info = info.append(row_data, ignore_index=True)

In [ ]:
info

         data_set_name Period additive/multiplicative        RMSE
0       RiverFlowDaily     30          multiplicative    0.065827
1        USBirthsDaily     30          multiplicative  328.441046
2  daily-female-births     30          multiplicative    0.012983